/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 90px;
    background-color: aqua;
    padding: 30px 10px 20px 10px;
}

#logo{
    height: 50px;
}

h1{
    display: inline-block;
}